.ace-editor {
    margin: 0 auto;
    margin-top: 2vh;
    width: 75vw !important;
    height: 60vh !important;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: block;
  }
  
  /* 에디터 내용 스타일 */
  .ace-content {
    font-size: 14px;
    color: #333;
  }