.titleBox {
  display: flex;

  width: 80vw;
  height: 10vh;

  margin: 0 auto;
  margin-top: 3vh;

  font-size: 30px;
}

.contentBox {
  display: flex;

  width: 80vw;
  height: 50vh;

  margin: 0 auto;
  margin-top: 3vh;

  font-size: 30px;
  font-family: 'GMarketSansMedium';
}

.upBtn {
  width: 10vw;
  height: 5vh;

  margin-left: 80vw;
  margin-top: 3vh;
  margin-bottom: 3vh;

  font-size: 20px;
}