@font-face {
    font-family: 'GmarketSansMedium';
    src: url('../../public/GmarketSansOTF/GmarketSansMedium.otf') format('opentype');
  }

.li {
    display: flex;

    height: 5vh;

    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

.li:hover {
    background-color: lavender;
    transition: 0.5s;
    cursor: pointer;
}

.title {
<<<<<<< HEAD
    flex: var(--title_flex_ratio);
}

.writer, .dated, .hit {
    flex: var(--remnant_flex_ratio);
=======
    flex: 5;

    padding-top: 15px;
    padding-left: 10px;

    font-size: 20px;
    font-family: 'GmarketSansMedium';
}

.writer, .dated, .hit {
    flex: 1;

>>>>>>> c49004a8ce21beecf470e0731bf31d2fb97de8d2
    text-align: center;

    padding-top: 15px;
    padding-left: 5px;

    font-size: 20px;
    font-family: 'GmarketSansMedium';
}