.li {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

.li:hover {
    background-color: salmon;
    transition: 0.5s;
    cursor: pointer;
}

.title {
    flex: var(--title_flex_ratio);
}

.writer, .dated, .hit {
    flex: var(--remnant_flex_ratio);
    text-align: center;
}