@font-face {
    font-family: 'GmarketSansBold';
    src: url('../../public/GmarketSansOTF/GmarketSansBold.otf') format('opentype');
  }

* {
    font-family: 'GmarketSansBold';
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-top: var(--qna_board_under_bar_border);

    margin-top: -4vh;
}

.title {
    flex: var(--title_flex_ratio);
    text-align: center;
    background-color: white;
    border-bottom: var(--qna_board_under_bar_border);
}

.writer, .dated, .hit {
    flex: var(--remnant_flex_ratio);
    text-align: center;
    background-color: white;
    border-bottom: var(--qna_board_under_bar_border);
}