.searchBar {
    width: 16vw;
    height: 10vh;

    margin-left: 78vw;
    margin-top: 5vh;
}

.textField {
    width: 12vw;
    height: 10vh;
    
    font-size: 16px;
    border: var(--searchBar_border);
    border-right: none;
}

.textField::placeholder {
    text-align: center;
}

.searchBtn {
    width: 3vw;
    height: calc(10.5vh - 0.5px);

    border: var(--searchBar_border);
    background-color: white;
}

.searchBtn:hover {
    cursor: pointer;
    background-color: gray;
    transition: 0.5s;
}