.searchBar {
    width: 15vw;
    height: 5vh;

    margin-left: 75vw;
    margin-top: 3vh;

    border: var(--qna_board_under_bar_border);
}

.textField {
    display: inline-block;

    width: 11vw;
    height: 5vh;
    font-size: 17px;

    border: none;
    border-right: var(--qna_board_under_bar_border);
}

.textField::placeholder {
    text-align: center;
}

.searchBtn {
    display: inline-block;

    width: 20%;
    height: 5vh;

    margin-left: 3%;
    font-size: 16px;

    border: none;

    background-color: white;
}

.searchBtn:hover {
    cursor: pointer;
    transition: 0.5s;
}